.song {
  .album {
    &__mask {
      background: url('/img/icons/coverall.png') no-repeat -140px -580px;
    }
  }

  .poster {
    &-header {
      &__icon,
      &__mv {
        background: url('/img/icons/icon.png') no-repeat;
      }

      &__icon {
        background-position: 0 -463px;
      }

      &__mv {
        background-position: 0 -18px;
      }
    }
  }

  .lyric {
    .ctrl-icon {
      &--up,
      &--down {
        background: url('/img/icons/icon.png') no-repeat;
      }

      &--up {
        background-position: -65px -520px;
      }

      &--down {
        background-position: -45px -520px;
      }
    }
  }
}