:host {
  display: block;
}

.playlist-card {
  width: 200px;
  &__wrapper {
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }
  &__name {
    padding: 5px 0;
    line-height: 20px;
  }
  .img {
    width: 100%;
  }
}
