@mixin ellipse() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@mixin multi-ellipsis($lines) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}
@mixin hoverText($cursor: pointer, $decoration: underline) {
  &:hover {
    cursor: $cursor;
    text-decoration: $decoration;
  }
}
@mixin hoverBg($bgColor, $cursor: pointer) {
  &:hover {
    cursor: $cursor;
    background-color: $bgColor;
  }
}
@mixin hoverLighter($color, $borderColor, $cursor: pointer) {
  &:hover {
    cursor: $cursor;
    color: $color;
    @if $borderColor == none {
      border: none;
    } @else {
      border: 1px solid;
      border-color: $borderColor;
    }
  }
}

@mixin divideLine() {
  border-left: 1px solid #000;
  border-right: 1px solid #2c2c2c;
}
